<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Alunos por linguagem de programação</title>

</head>

<body>



<h1>Lista de alunos por curso</h1>
<br><br>
<div th:each="lst_alunos : ${alunos_curso}">
    <h2 th:text="'Curso: ' + ${lst_alunos[0].getCurso().getName()}"></h2>
    <table >
        <thead>
        <tr>
            <th th:text="Alunos"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno : ${lst_alunos}">
            <td th:text="${aluno.primeiroNome} + ' ' + ${aluno.ultimoNome}"></td>
        </tr>
        </tbody>
    </table>
    <h3 th:text="'Total de participantes: ' + ${lst_alunos.size()}"></h3>
</div>

<br><br>
</body>

</html>