<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Curso</title>
</head>
<body>
<h1><p th:text="'Infomações do curso ' + ${curso.name}"></h1>
<p th:text="'Nome: ' + ${curso.name} "></p>
<a href="listCursos">Ver lista de cursos cadastrados</a><br>
<a href="showForm">Adicionar novo curso</a><br>

</body>
</html>